<div>
  <a
    [routerLink]="['/books/detail', bookId]"
    class="text-sm text-gray-500 hover:text-gray-700 transition inline-flex items-center"
  >
    Вернуться ко всей книге
  </a>
  <div class="chapter-actions" *ngIf="hasImages()">
    <button
      (click)="showText.set(!showText())"
      class="btn-toggle"
      [disabled]="!showImages()"
    >
      {{ showText() ? "Скрыть текст" : "Показать текст" }}
    </button>

    <button
      (click)="showImages.set(!showImages())"
      class="btn-toggle"
      [disabled]="!showText()"
    >
      {{ showImages() ? "Скрыть картинки" : "Показать картинки" }}
    </button>
  </div>

  <ng-container *ngIf="chapter$ | async as chapter">
    <div class="mb-1 text-end">
      <a
        *ngIf="isOwner()"
        [routerLink]="[
          '/books/detail',
          bookId,
          'chapters',
          'detail',
          chapter.id,
          'edit'
        ]"
        class="text-sm text-gray-400 hover:text-gray-600 transition"
      >
        Редактировать
      </a>
    </div>
    <div class="chapter-layout" [style.height]="calcAvailableHeight()">
      <div
        class="chapter-text"
        *ngIf="showText()"
        [style.width.%]="textWidth() * 100"
      >
        <h1 class="chapter-title">{{ chapter.title }}</h1>
        <div class="chapter-content" [innerHTML]="chapter.content"></div>
      </div>

      <div
        class="drag-handle"
        (mousedown)="onDrag($event)"
        *ngIf="showText() && showImages()"
        title="Перетащи для изменения ширины"
      ></div>

      <div
        class="chapter-images"
        *ngIf="showImages() && (chapter.images?.length ?? 0) > 0"
        [style.width.%]="imagesWidth() * 100"
      >
        <h2 class="text-lg font-semibold mb-2 mt-6">Изображения:</h2>
        <div class="flex flex-col gap-6 items-center">
          <div *ngFor="let image of chapter.images">
            <img
              [src]="image.image"
              [alt]="image.caption"
              class="rounded shadow max-w-full"
            />
            <p class="image-caption">{{ image.caption }}</p>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
