<form
  (submit)="onSubmit(); $event.preventDefault()"
  class="form-container"
  enctype="multipart/form-data"
>
  <h2 class="form-title">Редактировать главу</h2>

  <app-chapter-form
    [title]="chapter.title"
    [content]="chapter.content"
    [images]="chapter.images"
    (titleChange)="chapter.title = $event"
    (contentChange)="chapter.content = $event"
    (imagesChange)="chapter.images = $event"
    (submitForm)="onSubmit()"
  ></app-chapter-form>

  <div *ngIf="successMessage" class="text-green-600 mt-2">
    {{ successMessage }}
  </div>
  <div *ngIf="errorMessage" class="text-red-600 mt-2">
    {{ errorMessage }}
  </div>
</form>
