<div class="form-container max-w-4xl mx-auto px-4 py-6" *ngIf="book">
  <div class="flex justify-between items-center mb-4">
    <a
      routerLink="/books"
      class="text-sm text-gray-500 hover:text-gray-700 transition inline-flex items-center"
    >
      Вернуться ко всем книгам
    </a>

    <a
      *ngIf="isOwner"
      [routerLink]="['/books/detail', bookId, 'edit']"
      class="text-sm text-gray-500 hover:text-gray-700 transition inline-flex items-center"
    >
      Редактировать
    </a>
  </div>

  <h1 class="text-2xl font-bold mb-4">{{ book.title }}</h1>

  <div *ngIf="book.cover" class="mb-4">
    <img
      [src]="book.cover.startsWith('http') ? book.cover : BaseUrl + book.cover"
      alt="Обложка"
      class="w-full max-h-64 object-cover rounded"
    />
  </div>

  <p class="text-gray-700 mb-4">{{ book.description }}</p>

  <p class="text-sm text-gray-600 mb-2">Автор: {{ book.author }}</p>
  <p class="text-sm text-gray-600 mb-2">Дата: {{ book.created_at | date : "dd.MM.yyyy"  }}</p>

  <div class="flex flex-wrap gap-2 mb-4">
    <span
      *ngFor="let genre of book.genres"
      class="bg-orange-100 text-orange-800 text-xs font-medium px-2 py-1 rounded"
    >
      {{ genre.name }}
    </span>
  </div>

  <div *ngIf="book?.chapters && book.chapters.length > 0">
    <h2 class="text-lg font-semibold mb-2">Главы:</h2>
    <ol class="list-decimal pl-6">
      <li *ngFor="let chapter of book.chapters">
        <a
          class="text-sm text-gray-500 hover:text-gray-700 transition inline-flex items-center"
          [routerLink]="['/books/detail', book.id, 'chapters', 'detail', chapter.id]"
        >
          {{ chapter.title }}
        </a>
      </li>
    </ol>
  </div>

  <p *ngIf="book.chapters?.length === 0" class="text-gray-500 italic">
    Главы пока не добавлены.
  </p>

  <div class="mt-6 text-center" *ngIf="bookId && isOwner">
    <a
      [routerLink]="['/books/detail', bookId, 'chapters', 'add']"
      class="inline-block font-semibold py-2 px-4 rounded transition"
    >
      ➕ Добавить главу
    </a>
  </div>
</div>

<p *ngIf="errorMessage" class="text-red-600 text-center mt-4">
  {{ errorMessage }}
</p>

<!-- Комментарии -->
<div class="form-container mt-10 w-[80%] mx-auto">
  <app-add-comment
    *ngIf="!isOwner && !userComment"
    [bookId]="bookId"
    (commentAdded)="onCommentAdded()"
  ></app-add-comment>

  <h3
    *ngIf="userComment"
    class="text-xl font-semibold mb-6 border-b pb-2 border-gray-300 text-gray-800"
  >
    Ваш комментарий
  </h3>
  <div
    *ngIf="userComment"
    class="mb-6 border border-gray-300 rounded bg-gray-50 p-4 shadow-sm"
  >
    <div class="text-base font-semibold text-gray-900 mb-1">
      {{ userComment.user }}
    </div>
    <p class="text-gray-800 mb-2 whitespace-pre-line text-sm leading-relaxed">
      {{ userComment.content }}
    </p>
    <div class="flex justify-between items-center text-xs text-gray-600 mt-2">
      <span>Оценка: {{ userComment.rating }} / 5</span>
      <span>{{ userComment.created_at | date : "dd.MM.yyyy HH:mm" }}</span>
    </div>
  </div>

  <h3
    class="text-xl font-semibold mb-6 border-b pb-2 border-gray-300 text-gray-800"
  >
    Комментарии
  </h3>

  <p *ngIf="comments.length === 0" class="text-gray-500 italic text-sm">
    Комментариев пока нет.
  </p>

  <div
    *ngFor="let comment of comments"
    class="mb-6 border border-gray-300 rounded bg-gray-50 p-4 shadow-sm"
  >
    <div class="text-base font-semibold text-gray-900 mb-1">
      {{ comment.user }}
    </div>
    <p class="text-gray-800 mb-2 whitespace-pre-line text-sm leading-relaxed">
      {{ comment.content }}
    </p>
    <div class="flex justify-between items-center text-xs text-gray-600 mt-2">
      <span>Оценка: {{ comment.rating }} / 5</span>
      <span>{{ comment.created_at | date : "dd.MM.yyyy HH:mm" }}</span>
    </div>
  </div>
</div>
