<form
  (submit)="onSubmit()"
  enctype="multipart/form-data"
  class="form-container"
>
  <a
    [routerLink]="['/books/mybooks']"
    class="text-sm text-gray-500 hover:text-gray-700 transition inline-flex items-center"
  >
    Вернуться к книгам
  </a>
  <h2 class="form-title">Добавить книгу</h2>

  <div>
    <label for="title" class="block text-sm font-medium text-gray-700 mb-1">
      Название книги
    </label>
    <input
      id="title"
      type="text"
      [(ngModel)]="title"
      name="title"
      required
      class="form-input"
    />
  </div>

  <div>
    <label
      for="description"
      class="block text-sm font-medium text-gray-700 mb-1"
    >
      Описание
    </label>
    <textarea
      id="description"
      [(ngModel)]="description"
      name="description"
      required
      rows="4"
      class="form-input"
    ></textarea>
  </div>

  <div>
    <label for="genres" class="block text-sm font-medium text-gray-700 mb-1">
      Жанры
    </label>
    <ng-select
      [items]="genres"
      bindLabel="name"
      bindValue="id"
      [(ngModel)]="selectedGenres"
      [multiple]="true"
      [closeOnSelect]="false"
      [searchable]="true"
      [hideSelected]="true"
      name="genres"
      placeholder="Выберите жанры..."
      class="form-input"
    >
    </ng-select>
  </div>

  <div>
    <label for="cover" class="block text-sm font-medium text-gray-700 mb-1">
      Обложка
    </label>
    <input
      id="cover"
      type="file"
      (change)="onFileChange($event)"
      accept="image/*"
      required
      class="form-input"
    />
  </div>

  <button type="submit" class="form-button">Добавить книгу</button>

  <div *ngIf="successMessage" class="text-green-600 text-center mt-4">
    {{ successMessage }}
    <a
      *ngIf="bookId"
      [routerLink]="['/books/detail', bookId]"
      class="underline ml-1"
    >
      Хотите просмотреть её?
    </a>
  </div>

  <div *ngIf="errorMessage" class="form-error text-center">
    {{ errorMessage }}
  </div>
</form>
